<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="#">The COmplete RoR Course </a> by <a href="#">Mashuur</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to 'About us', about_path %></li>
            </ul>
        </nav>
    </footer>
</div>